<!DOCTYPE html>
<html lang="en">
<head>
    <title>P2P through stun</title>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
</head>
<body>
<div id="app">
    <div id="grid">
        <textarea rows="1" cols="20" id="setUsernameField" :click="setUserName"></textarea>
        <textarea id="ip"></textarea>
        <ul id="rooms">
            <li>Rooms</li>
            <li v-for="room in rooms">{{room}}</li>
        </ul>
        <ul id="connected_users">
            <li>Connected users</li>
            <li v-for="user in connected_users">{{user}}</li>
        </ul>
    </div>
</div>
<script src="application.js"></script>
<script>const mountedApp = app.mount('#app')</script>
<script></script>
</body>
</html>